body{
    background-color: hsl(0, 0%, 0%);
}

.to_do_list {
  text-align: center;
  margin-top: 100px;
}

h1 {
  font-size: 4rem;
  color: #fff;
}

button {
  font-size: 1.7rem;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
  cursor:  pointer;
  transition: background-color 0.4s ease;
}

.add_btn{
    background-color: #098e09;
}

.add_btn:hover{
    background-color: #077707;
}

.delete_btn{
    background-color: #c80c0c;
}

.delete_btn:hover{
    background-color: #ab0c0c;
}

.move_btn{
    background-color: #098e09;
}

.move_btn:hover{
    background-color: #077707;
}

input[type="text"]{
    font-size: 1.5rem;
    border: 2px solid #077707;
    border-radius: 5px;
    padding: 10px;
    color: #077707;
}

ol{
    padding: 0;
}

li{
    font-size: 2rem;
    font-weight: bold;
    padding: 15px;
    background-color: hsl(0, 0%, 95%);
    margin-bottom: 20px;
    border: 3px solid #077707;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.text{
    flex: 1;
}

.delete_btn, .move_btn{
    padding: 8px 12px;
    font-size: 1.4rem;
    margin-left: 10px;
}

.search_el{
    font-size: 1.5rem;
    border: 2px solid #077707;
    border-radius: 5px;
    padding: 10px;
    color: #077707;
    margin: 20px 0;
}